*,
*::before,
*::after {
    box-sizing: border-box;
}

html, body {
    padding: 0;
    margin: 0;
}

@media (max-width: 768px) {
    
    html, body {
        width: auto;
        overflow-x: hidden;
    }

}

body {
    color: #000;
    font-size: 16px;
    font-family: 'Gilroy', sans-serif;
    background-color: #fff;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
    margin: 0;
}

a {
    color: inherit;
    transition: all 0.2s ease-in-out;

    &:hover,
    &:focus {
        text-decoration: none;
    }
}

button,
button:focus {
    outline: 0;
}

img {
    max-width: 100%;
    height: auto;
}

ul,
li,
ol {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

@media (min-width: 1200px) {

    .container {
        max-width: 1400px !important;
    }

}

.font-weight-medium {
    font-weight: 500;
}